HOST: http://www.hive.org/

--- Hive ---

---
This is the first version!!!
---

--
Players
--

Lists all players for a given application
GET /players
< 200
< Content-Type: application/json
{ 
    "items": [
        { 
            "id": 1,
            "ref": "nx-345",
            "url": "/players/1",
            "name": "Foo Bar",
            "score": 200,
            "badges": "/players/1/badges"
        }
    ]
}

Create a new player
POST /players
> Content-Type: application/json
{ 
    "ref": "nx-345",
    "name": "Foo Bar"
}
< 201
< Content-Type: application/json
{ 
    "status": "created", 
    "url": "/players/1",
    "id": "1"
}

Gets information about a given player
GET /players/:player
< 200
< Content-Type: application/json
{
    "id": 1,
    "ref": "nx-345",
    "url": "/players/1",
    "name": "Foo Bar",
    "score": 200,
    "badges": "/players/1/badges"
}

Updates a player
PUT /players/:player
> Content-Type: application/json
{
    "name":"Foo Bar",
    "ref":"nx-456"
}
< 200
< Content-Type: application/json
{
    "status":"updated",
}

Removes a player
DELETE /players/:player
< 200
< Content-Type: application/json
{
    "status": "deleted"
}

Return badges for a players
GET /players/:player/badges
< 200
< Content-Type: application/json
{
    "items": [
        {
            "id": 1,
            "url": "/badges/1",
            "icon": "http://path.to.picture",
            "name": "Foo Badge"
        }    
    ]
}

--
Player's Events
--

Gets the list of events a player performed
GET /players/:player/events
< 200
< Content-Type: application/json
{
    "items":[
        {
            "id": 123,
            "date": 1363186482
            "name": "Foo Event"          
        }
    ]
}


A player sends an event to the system queue
POST /players/:player/events
> Content-Type: application/json
{
    "eventType":"Foo Event"
}
< 202
< Content-Type: application/json
{
    "status": "queued"
}

--
Events administration
--

List current event types
GET /events
< 200
< Content-Type: application/json
{
    "items":[
        {
            "id":1,
            "url":"/events/1",
            "name":"Foo Event"
        }
    ]
}

Get information about an event type
GET /events/:event
< 200
< Content-Type: application/json
{
    "id":1,
    "name":"Foo Event",
    "url":"/events/1"
}

Create an event type
POST /events
> Content-Type: application/json
{
    "name": "Foo Event"
}
< 201
{
    "status": "created",
    "url": "/events/1",
    "id": "1"
}

Edit an event type
PUT /events/:event
> Content-Type: application/json
{
    "name": "Bar Event"
}
< 200
{
    "status": "updated"
}

Delete an event type
DELETE /events/:event
> Content-Type: application/json
< 200
{
    "status": "deleted"
}

-- 
 Leader boards
--
Basic leaderboards
GET /leaderboards/byscore
> Content-Type: application/json
< 200
{
    "players": [
        {
            "id": 1,
            "ref": "nx-345",
            "url": "/players/1",
            "name": "Foo Bar",
            "score": 200
        }    
    ]
}

By badge
GET /leaderboards/bybadge
> Content-Type: application/json
< 200
{
    "players": [
        {
            "id": 1,
            "ref": "nx-345",
            "url": "/players/1",
            "name": "Foo Bar",
            "score": 200
        }
    ]
}

--
Badges administration
--

List current event types
GET /badges
< 200
< Content-Type: application/json
{
    "items": [
        {
            "id": 1,
            "url": "/badges/1",
            "name": "Foo Badge",
            "icon": "http://path.to.picture"
        }    
    ]
}

Detail of a badge
GET /badges/:badge
< 200
< Content-Type: application/json
{
    "id": 1,
    "url": "/badges/1",
    "name": "Foo Badge",
    "icon": "http://path.to.picture"
}

Create a badge
POST /badges
> Content-Type: application/json
{
    "name": "Foo Badge",
    "icon": "http://path.to.picture",
}
< 201
{
    "status": "created",
    "url": "/badges/1"
}

Edit a badge
PUT /badges/:badge
> Content-Type: application/json
{
    "name": "Bar Badge"
    //..
}
< 200
{
    "status": "updated"
}

Delete an event type
DELETE /badges/:badge
> Content-Type: application/json
< 200
{
    "status": "deleted"
}


--
Rewards administration
--

List current event types
GET /rewards
< 200
< Content-Type: application/json
{
    "items": [
        {
            "id": 1,
            "url": "/rewards/1",
            "name": "Foo Rewards",
            "score": 200,
            "durationInMinutes": 100,
            "deadline": 1363186482,
            "ordered": false,
            "badges": [
                {
                    "id": 1,
                    "url": "/badges/1",
                    "name": "Foo Badge",
                    "icon": "http://path.to.picture"
                },
                // ...
            ],
            "rules": [
                {
                    "id": 1,
                    "url": "/rules/1"
                }
                // ...    
            ]
        }    
    ]
}

Detail of a reward
GET /rewards/:reward
< 200
< Content-Type: application/json
{
    "id": 1,
    "url": "/rewards/1",
    "name": "Foo Rewards",
    "score": 200,
    "durationInMinutes": 100,
    "deadline": 1363186482,
    "ordered": false,
    "badges": [
        {
            "id": 1,
            "url": "/badges/1",
            "icon": "http://path.to.picture",
            "name": "Foo Badge"
        },
        // ...
    ],
    "rules": [
        {
            "id": 1,
            "url": "/rules/1"
        }
        //...    
    ]
}

Create a reward
POST /rewards
> Content-Type: application/json
{
    "name": "Foo Rewards",
    "score": 200,
    "durationInMinutes": 100,
    "deadline": 1363186482,
    "ordered": false
}
< 201
{
    "status": "created",
    "url": "/rewards/1"
}

Edit a reward
PUT /rewards/:reward
> Content-Type: application/json
{
    "name": "Foo Rewards",
    "score": 200,
    "durationInMinutes": 100,
    "deadline": 1363186482,
    "ordered": false,
}
< 200
{
    "status": "updated"
}

Add rules to a reward
POST /rewards/:reward/rules
> Content-Type: application/json
{
    "rule": 1
}
< 201
{
    "status": "linked"
}

Remove rules from a reward
DELETE /rewards/:reward/rules/:rule
> Content-Type: application/json
< 200
{
    "status": "deleted"
}

Add badges to a reward
POST /rewards/:reward/badges
> Content-Type: application/json
{
    "badge": 1
}
< 201
{
    "status": "linked"
}

Remove badges from a reward
DELETE /rewards/:reward/badges/:badge
> Content-Type: application/json
< 200
{
    "status": "deleted"
}

Delete a reward
DELETE /rewards/:reward
> Content-Type: application/json
< 200
{
    "status": "deleted"
}

--
Rules administration
--

List all rules
GET /rules
< 200
< Content-Type: application/json
{
    "items": [
        {
            "id": 1,
            "url": "/rules/1",
            "event": {
                "id":1,
                "name":"Foo Event",
                "url":"/events/1"
            },
            "durationInMinutes": 100,
            "arg": "Foo Text",
            "eventCounter": 5
        }    
    ]
}

Detail of a rule
GET /rules/:rule
< 200
< Content-Type: application/json
{
    "id": 1,
    "url": "/rules/1",
    "event": {
        "id":1,
        "name":"Foo Event",
        "url":"/events/1"
    },
    "durationInMinutes": 100,
    "arg": "Foo Text",
    "eventCounter": 5
}

Create a rule
POST /rules
> Content-Type: application/json
{
    "event": 1,
    "durationInMinutes": 100,
    "arg": "Foo Text",
    "eventCounter": 5
}
< 201
{
    "status": "created",
    "url": "/rules/1",
    "id": "1"
}

Edit a rule
PUT /rules/:rule
> Content-Type: application/json
{
    "event": 1,
    "durationInMinutes": 100,
    "arg": "Foo Text",
    "eventCounter": 5
}
< 200
{
    "status": "updated"
}

Delete a rule
DELETE /rules/:rule
> Content-Type: application/json
< 200
{
    "status": "deleted"
}