HOST: http://www.hive.org/

--- Hive ---

---
This is the first version!!!
---

--
Players
--

Lists all players for a given application
GET /players
< 200
< Content-Type: application/json
{ 
    "items": [
        { 
            "id": 1,
            "ref": "nx-345",
            "url": "/players/1",
            "name": "Foo Bar",
            "score": 200,
            "badges": "/players/1/badges"
        }
] }

Create a new player
POST /players
> Content-Type: application/json
{ 
    "ref": "nx-345",
    "name": "Foo Bar"
}
< 201
< Content-Type: application/json
{ 
    "status": "created", 
    "url": "/players/1"
}

Gets information about a given player
GET /players/:player
< 200
< Content-Type: application/json
{
    "id": 1,
    "ref": "nx-345",
    "url": "/players/1",
    "name": "Foo Bar",
    "score": 200,
    "badges": "/players/1/badges"
}

Updates a player
PUT /players/:player
> Content-Type: application/json
{
    "name":"Foo Bar",
    "ref":"nx-456"
}
< 200
< Content-Type: application/json
{
    "status":"updated"
}

Removes a player
DELETE /players/:player
< 200
< Content-Type: application/json
{
    "status": "deleted"
}

Return badges for a players
GET /players/:player/badges
< 200
< Content-Type: application/json
{
    "items": [
        {
            "id": 1,
            "icon": "http://path.to.picture",
            "name": "Foo Badge",
            "url": "/badges/1"
        }    
    ]
}

--
Player's Events
--

Gets the list of events a player performed
GET /players/:player/events
< 200
< Content-Type: application/json
{
    "items":[
        {
            "id": 123,
            "date": "YYYY-MM-DD HH:mm:ss"// or unixtime!
            // ...            
        }
    ]
}


A player sends an event to the system queue
POST /players/:player/events
> Content-Type: application/json
{
    "eventType":"Foo Event"
}
< 202
< Content-Type: application/json
{
    "status": "queued"
}

--
Events administration
--

List current event types
GET /events
< 200
< Content-Type: application/json
{
    "items":[
        {
            "id":1,
            "name":"Foo Event",
            "url":"/events/1"
        }
        //...
    ]
}

Get information about an event type
GET /events/:event
< 200
< Content-Type: application/json
{
    "id":1,
    "name":"Foo Event",
    "url":"/events/1"
    //...
}

Create an event type
POST /events
> Content-Type: application/json
{
    "name": "Foo Event"
    //...
}
< 201
{
    "status": "created",
    "url": "/events/1"
}

Edit an event type
PUT /events/:event
> Content-Type: application/json
{
    "name": "Bar Event"
    //..
}
< 200
{
    "status": "updated"
}

Delete an event type
DELETE /events/:event
> Content-Type: application/json
< 200
{
    "status": "deleted"
}

-- 
 Leader boards
--
Basic leaderboards
GET /leaderboards/byscore
> Content-Type: application/json
< 200
{
    "players": [
        {
            "id": 1,
            "ref": "nx-345",
            "name": "Foo Bar",
            "url": "/players/1",
            "score": 200
        }    
    ]
}

By badge
GET /leaderboards/bybadge
> Content-Type: application/json
< 200
{
    "players": [
        {
            "id": 1,
            "ref": "nx-345",
            "name": "Foo Bar",
            "url": "/players/1",
            "score": 200
        }
    ]
}